:root {
  --Orange:hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-vark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%); }

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  box-sizing: inherit; }

body {
  font-family: 'Kumbh Sans', sans-serif; }

.logo {
  margin-right: 4rem; }
  @media (max-width: 900px) {
    .logo {
      margin-right: auto; } }

.nav_ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin-right: auto; }

.nav_link:link, .nav_link:visited {
  text-decoration: none;
  color: rgba(104, 112, 125, 0.707);
  font-size: 0.9rem; }

.nav_link:link:hover, .nav_link:visited:hover {
  color: var(--Very-vark-blue);
  border-bottom: 4px solid var(--Orange);
  padding-bottom: 1.9rem; }
  @media (min-height: 800px) {
    .nav_link:link:hover, .nav_link:visited:hover {
      padding-bottom: 2.57rem; } }

.nav_user {
  height: 3rem; }
  @media (max-width: 400px) {
    .nav_user {
      display: none; } }

.nav_user:hover {
  cursor: pointer;
  border: 2px solid var(--Orange);
  border-radius: 50%; }

.nav_shop:hover {
  cursor: pointer; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(3px);
  z-index: 5; }

.overlay-2,
.overlay-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.855);
  backdrop-filter: blur(3px);
  z-index: 5; }

@media (min-width: 900px) {
  .overlay-3 {
    display: none; } }

.checkout {
  position: absolute;
  z-index: 20;
  top: 100px;
  right: 7vw;
  height: 16rem;
  width: 22.5rem;
  background-color: var(--White);
  box-shadow: rgba(149, 157, 165, 0.3) 0px 20px 24px; }
  @media (max-width: 420px) {
    .checkout {
      top: 18%;
      left: 50%;
      transform: translate(-50%, -18%);
      width: 85vw;
      height: 22rem; } }
  .checkout_top {
    padding: 1.2rem;
    font-weight: 700;
    border-bottom: 2px solid rgba(153, 162, 178, 0.241); }
  .checkout_bottom {
    padding: 2rem 1.2rem; }
  .checkout_orders {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 2rem; }
    @media (max-width: 420px) {
      .checkout_orders {
        flex-direction: column; } }
  .checkout_btn {
    width: 100%;
    text-align: center;
    background-color: var(--Orange);
    padding: 1rem;
    border-radius: 12px;
    color: #fff;
    font-weight: 700; }
  .checkout_btn:hover {
    cursor: pointer; }
  .checkout_img {
    height: 3rem;
    border-radius: 7px; }
  .checkout_p-box {
    color: rgba(104, 112, 125, 0.707); }
  .checkout_p {
    margin-bottom: 0.3rem;
    text-align: center; }
  .checkout_summary {
    display: flex;
    gap: 0.5rem; }
    @media (max-width: 420px) {
      .checkout_summary {
        justify-content: center; } }
  .checkout_sum {
    color: #000;
    font-weight: 700; }
  .checkout_trash:hover {
    cursor: pointer; }

.checkout-empty_top {
  padding: 1.2rem;
  font-weight: 700;
  border-bottom: 2px solid rgba(153, 162, 178, 0.241); }

.checkout-empty_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11rem; }

.shop-box {
  margin-right: 2.5rem; }

.span-current-shop {
  position: relative;
  top: -16px;
  right: -30px;
  font-size: 0.65rem;
  font-weight: 700;
  color: var(--White);
  padding: 0 0.35rem;
  background-color: var(--Orange);
  border-radius: 12px; }

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column; }

.right-side {
  flex: 1.3;
  display: flex;
  flex-direction: column;
  padding: 6rem 0 0 0; }
  @media (max-width: 1070px) {
    .right-side {
      padding: 2rem 0 10vw 0;
      text-align: center;
      align-items: center; } }

.top_img-box {
  margin-bottom: 2rem; }
  @media (max-width: 460px) {
    .top_img-box {
      margin-bottom: 5vw; } }

.top_img {
  width: 30rem;
  height: 27rem;
  border-radius: 25px; }
  @media (max-width: 1190px) {
    .top_img {
      width: 35vw;
      height: 35vw; } }
  @media (max-width: 1070px) {
    .top_img {
      width: clamp(35rem, 60vw, 55rem);
      height: clamp(30rem, 50vw, 55rem); } }
  @media (max-width: 670px) {
    .top_img {
      width: clamp(25rem, 90vw, 35rem);
      height: clamp(15rem, 70vw, 35rem); } }
  @media (max-width: 670px) {
    .top_img {
      width: 90vw;
      height: 70vw; } }

.top_img:hover {
  cursor: pointer; }

.hidden {
  display: none; }

.bottom {
  display: flex;
  gap: 2rem;
  justify-content: center; }
  @media (max-width: 460px) {
    .bottom {
      gap: 5vw; } }
  .bottom_box {
    flex: 1; }
  .bottom_img {
    width: 100%;
    height: 6rem;
    border-radius: 12px; }
    @media (max-width: 1190px) {
      .bottom_img {
        width: 6.7vw;
        height: 100%; } }
    @media (max-width: 1070px) {
      .bottom_img {
        width: 6rem; } }
    @media (max-width: 670px) {
      .bottom_img {
        width: clamp(4.3rem, 12vw, 7.8rem); } }
    @media (max-width: 460px) {
      .bottom_img {
        width: 16vw; } }
  .bottom_img:hover {
    opacity: 0.6;
    cursor: pointer; }

.actual {
  border: 2px solid var(--Orange);
  opacity: 0.4; }

.text-box {
  margin-bottom: 1rem; }
  .text-box_p {
    color: var(--Orange);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem; }
  .text-box_h-1 {
    margin-bottom: 2rem;
    font-size: 3.5rem;
    line-height: 1;
    padding-right: 2rem; }
    @media (max-width: 1070px) {
      .text-box_h-1 {
        padding-right: 0; } }
    @media (max-width: 550px) {
      .text-box_h-1 {
        font-size: 3rem; } }
    @media (max-width: 440px) {
      .text-box_h-1 {
        font-size: clamp(2.1rem, 10vw, 3rem); } }
  .text-box_p-2 {
    width: 80%;
    font-size: clamp(0.8rem, 1.3vw, 1rem);
    line-height: 1.4;
    color: rgba(104, 112, 125, 0.707); }
    @media (max-width: 1070px) {
      .text-box_p-2 {
        margin: 0 auto; } }
    @media (max-width: 630px) {
      .text-box_p-2 {
        width: 100%; } }
    @media (max-width: 440px) {
      .text-box_p-2 {
        font-size: clamp(0.7rem, 2vw, 1rem); } }

.price-box {
  margin-bottom: 2rem; }
  .price-box_top {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.3rem;
    align-items: center; }
  .price-box_price {
    font-weight: 700;
    font-size: 1.8rem; }
  .price-box_discount {
    color: var(--Orange);
    font-weight: 700;
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    border: none;
    background-color: var(--Pale-orange); }
  .price-box_bottom {
    color: var(--Grayish-blue);
    text-decoration: line-through; }

.btn-box {
  display: flex; }
  @media (max-width: 550px) {
    .btn-box {
      flex-direction: column;
      align-items: center;
      gap: 1rem; } }
  .btn-box_btn-1 {
    width: 9.5rem;
    height: 2.5rem;
    margin-right: 0.4rem;
    background-color: var(--Light-grayish-blue);
    border: none;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    font-weight: 700;
    overflow: hidden; }
    @media (max-width: 1070px) {
      .btn-box_btn-1 {
        height: 3.3rem; } }
  .btn-box_span-1 {
    font-size: 1.9rem;
    color: var(--Orange); }
    @media (max-width: 1070px) {
      .btn-box_span-1 {
        font-size: 3rem;
        padding-bottom: 0.4rem; } }
  .btn-box_span-2 {
    font-size: 1.2rem;
    color: var(--Orange); }
    @media (max-width: 1070px) {
      .btn-box_span-2 {
        font-size: 1.9rem; } }
  .btn-box_span-1:hover, .btn-box_span-2:hover {
    cursor: pointer;
    opacity: 0.7; }
  .btn-box_btn-2 {
    width: 17rem;
    height: 2.5rem;
    border: none;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--White);
    background-color: var(--Orange); }
    @media (max-width: 1070px) {
      .btn-box_btn-2 {
        width: 17rem;
        height: 3.3rem; } }
  .btn-box_btn-2:hover {
    cursor: pointer;
    opacity: 0.7; }
  .btn-box_shop {
    margin-right: 0.8rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7485%) hue-rotate(80deg) brightness(103%) contrast(99%); }

.btn-box-p {
  font-size: 1rem;
  font-weight: 400; }

.nav {
  max-width: 1440px;
  padding: 0 5vw;
  margin: 0 auto 3.5rem auto;
  height: 5.5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(153, 162, 178, 0.241); }
  @media (min-height: 800px) {
    .nav {
      height: 7rem;
      margin: 0 auto 5rem auto; } }
  @media (max-width: 550px) {
    .nav {
      margin: 0 auto 15vw auto; } }

.main {
  display: flex;
  max-width: 1440px;
  padding: 0 0 0 8vw;
  margin: 0 auto;
  min-height: 35rem;
  gap: 7rem; }
  @media (max-width: 1070px) {
    .main {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 7vw;
      gap: 4rem; } }
  @media (max-width: 1070px) and (max-width: 460px) {
    .main {
      gap: 4vw; } }

.left-side-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9; }
  .left-side-2_close {
    position: relative;
    z-index: 20;
    top: 0;
    left: 495px;
    height: 1.2rem;
    filter: brightness(0) saturate(100%) invert(58%) sepia(68%) saturate(903%) hue-rotate(325deg) brightness(100%) contrast(104%);
    display: none; }
    @media (min-height: 900px) {
      .left-side-2_close {
        top: 0;
        left: 525px; } }
  .left-side-2_close:hover {
    cursor: pointer; }

.top-2_img-box {
  margin-bottom: 2rem; }

.top-2_img {
  width: 32rem;
  height: 29rem;
  border-radius: 25px; }
  @media (min-height: 900px) {
    .top-2_img {
      width: 34rem;
      height: 31rem; } }
  @media (max-width: 1070px) {
    .top-2_img {
      width: clamp(25rem, 48vw, 45rem);
      height: clamp(22rem, 45vw, 42rem); } }
  @media (max-width: 670px) {
    .top-2_img {
      width: clamp(25rem, 90vw, 35rem);
      height: clamp(15rem, 70vw, 35rem); } }
  @media (max-width: 670px) {
    .top-2_img {
      width: 90vw;
      height: 70vw; } }

.top-2_img:hover {
  cursor: pointer; }

.bottom-2 {
  display: flex;
  justify-content: center;
  gap: 2rem; }
  @media (min-height: 900px) {
    .bottom-2 {
      gap: clamp(0.8rem, 4.5vw, 2rem); } }
  @media (min-height: 700px) {
    .bottom-2 {
      gap: clamp(0.8rem, 4.5vw, 2rem); } }
  .bottom-2_box {
    flex: 0.2;
    background-color: #fff;
    border-radius: 12px;
    height: 5rem; }
    @media (max-width: 1070px) {
      .bottom-2_box {
        height: clamp(4.4rem, 8vw, 5.5rem); } }
    @media (min-height: 900px) {
      .bottom-2_box {
        height: clamp(4.4rem, 8vw, 5.5rem); } }
    @media (max-width: 670px) {
      .bottom-2_box {
        display: flex;
        justify-content: center;
        height: clamp(5rem, 8vw, 5.5rem); } }
    @media (max-width: 480px) {
      .bottom-2_box {
        height: clamp(3.75rem, 15vw, 5.5rem); } }
  .bottom-2_img {
    width: 100%;
    height: 5rem;
    border-radius: 12px; }
    @media (min-height: 900px) {
      .bottom-2_img {
        height: 5.5rem; } }
    @media (max-width: 1070px) {
      .bottom-2_img {
        width: 100%;
        height: clamp(4.4rem, 8vw, 5.5rem); } }
    @media (max-width: 670px) {
      .bottom-2_img {
        height: clamp(5rem, 8vw, 5.5rem); } }
    @media (max-width: 480px) {
      .bottom-2_img {
        height: clamp(3.75rem, 15vw, 5.5rem); } }
  .bottom-2_img:hover {
    opacity: 0.6;
    cursor: pointer;
    background-color: #fff; }

.actual-2 {
  opacity: 0.5;
  border: 4px solid var(--Orange); }

.hamburger {
  display: none;
  margin-left: 1.5rem;
  cursor: pointer; }
  @media (max-width: 400px) {
    .hamburger {
      margin-left: 0; } }

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #000; }

.img-close {
  height: 1.5rem;
  width: 1.5rem;
  margin: 1.2rem 0 2rem 0; }
  @media (min-width: 900px) {
    .img-close {
      display: none; } }

.img-close:hover {
  cursor: pointer; }

.userNAV {
  height: 3rem;
  width: 3rem;
  margin-top: 1rem; }
  @media (min-width: 900px) {
    .userNAV {
      display: none; } }

.userNAV:hover {
  cursor: pointer;
  border: 2px solid var(--Orange);
  border-radius: 50%; }

@media (max-width: 900px) {
  .hamburger {
    display: block; }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0; }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg); }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg); }
  .nav_ul {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: #fff;
    width: 50%;
    height: 100%;
    text-align: left;
    transition: 0.3s;
    z-index: 15;
    padding-left: 3rem; }
  .nav_link:visited,
  .nav_link:link {
    color: var(--Very-vark-blue);
    font-weight: 700; }
  .nav_link:link:hover,
  .nav_link:visited:hover {
    color: var(--Very-vark-blue);
    border-bottom: 4px solid var(--Orange);
    padding-bottom: 0.5rem; } }
  @media (max-width: 900px) and (min-height: 800px) {
    .nav_link:link:hover,
    .nav_link:visited:hover {
      padding-bottom: 0.5rem; } }

@media (max-width: 900px) {
  .nav_li {
    margin: 1rem 0; }
  .nav_ul.active {
    left: 0; } }
