// NAV - BAR
.logo {
    margin-right: 4rem;
}

.nav {

    &_ul {
        list-style: none;
        display: flex;
        gap: 3rem;
        margin-right: auto;
    }

    &_link:link,
    &_link:visited {
        text-decoration: none;
        color: hsla(217, 9%, 45%, 0.707);
        font-size: 0.9rem;
    }

    &_link:link:hover,
    &_link:visited:hover {
       color: var(--Very-vark-blue);
       border-bottom: 4px solid var(--Orange);
       padding-bottom: 1.9rem;
       
       @media (min-height: 800px) {
        padding-bottom: 2.57rem;
    }
    }

    &_user {
        height: 3rem;
    }

    &_user:hover {
        cursor: pointer;
        border: 2px solid var(--Orange);
        border-radius: 50%;
    }

    &_shop:hover {
        filter: brightness(0) saturate(100%);
        cursor: pointer;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(3px);
    z-index: 5;
  }

.checkout {

    position: relative;
    z-index: 10;
    top: 175px;
    right: -215px;
    height: 16rem;
    width: 22.5rem;
    background-color: var(--White);
    box-shadow: rgba(149, 157, 165, 0.3) 0px 20px 24px;

    &_top {
        padding: 1.2rem;
        font-weight: 700;
        border-bottom: 2px solid hsla(218, 14%, 65%, 0.241);
    }

    &_bottom {
        padding: 2rem 1.2rem;
    }

    &_orders {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        margin-bottom: 2rem;
    }

    &_btn {
        width: 100%;
        text-align: center;
        background-color: var(--Orange);
        padding: 1rem;
        border-radius: 12px;
        color: #fff;
        font-weight: 700;
    }

    &_btn:hover {
        cursor: pointer;
    }

    &_img {
        height: 3rem;
        border-radius: 7px;
    }

    &_p-box {
       color: hsla(217, 9%, 45%, 0.707);
    }

    &_p {
        margin-bottom: 0.3rem;
    }

    &_summary {
        display: flex;
        gap: 0.5rem;
    }

    &_sum {
        color: #000;
        font-weight: 700;
    }

    &_trash:hover {
        cursor: pointer;
    }
}

.checkout-empty {   

    &_top {
        padding: 1.2rem;
        font-weight: 700;
        border-bottom: 2px solid hsla(218, 14%, 65%, 0.241);
  
    }

    &_bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 11rem;
    }
}


.shop-box {
    margin-right: 2.5rem;
}

.span-current-shop {
   position: relative;
   top: -16px;
   right: -30px;
   font-size: 0.65rem;
   font-weight: 700;
   color: var(--White);
   padding: 0 0.35rem;
   background-color: var(--Orange);
   border-radius: 12px;
}

// MAIN 

.left-side {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.right-side {
    flex: 1.3;
    display: flex;
    flex-direction: column;
    padding: 6rem 0 0 0;
}


// LEFT - SIDE

.top {
    &_img-box {
        margin-bottom: 2rem;
    }

    &_img {
        width: 30rem;
        height: 27rem;
        border-radius: 25px;

        @media (max-width: 1190px) {
            width: 35vw;
            height: 35vw;
        }

        @media (max-width: 1070px) {
             width: clamp(35rem, 60vw, 55rem);
             height: clamp(30rem, 50vw, 55rem);
        }
    
    }
}

.hidden {
    display: none;
}

.bottom {
    display: flex;
    gap: 2rem;

    &_box {
        flex: 1;
    }

    &_img {
        width: 100%;
        height: 6rem;
        border-radius: 12px;

        @media (max-width: 1190px) {
            width: 6.7vw;
            height: 100%;
        }

        @media (max-width: 1070px) {
            width: clamp(7.3rem, 12.7vw, 12rem);
            height: 100%;
       }
    }

    &_img:hover {
        opacity: 0.5;
        cursor: pointer;
    }
}

// RIGHT - SIDE
.text-box {
    margin-bottom: 1rem;

    &_p {
        color: var(--Orange);
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        margin-bottom: 1rem;
    }

    &_h-1 {
        margin-bottom: 2rem;
        font-size: 3.5rem;
        line-height: 1;
        padding-right: 2rem;
    }


    &_p-2 {
        width: 80%;
        font-size: clamp(0.8rem, 1.3vw, 1rem);
        line-height: 1.4;
        color: hsla(217, 9%, 45%, 0.707);
    }
}

.price-box {
    margin-bottom: 2rem;

    &_top {
        display: flex;
        gap: 1rem;
        margin-bottom: 0.3rem;
        align-items: center;
    }

    &_price {
        font-weight: 700;
        font-size: 1.8rem;
    }

    &_discount{
        color: var(--Orange);
        font-weight: 700;
        padding: 0.2rem 0.4rem;
        border-radius: 5px;
        border: none;
        background-color: var(--Pale-orange);
    }

    &_bottom {
        color: var(--Grayish-blue);
        text-decoration: line-through;
    }
}

.btn-box {
    display: flex;

    &_btn-1 {
        width: 9.5rem;
        height: 2.5rem;
        margin-right: 0.4rem;
        background-color: var(--Light-grayish-blue);
        border: none;
        border-radius: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.8rem;
        font-weight: 700;
    }

    &_span-1 {
        font-size: 1.9rem;
        color: var(--Orange);
    }

    &_span-2 {
        font-size: 1.2rem;
        color: var(--Orange);
    }

    &_span-1:hover, 
    &_span-2:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    &_btn-2 {
        width: 17rem;
        height: 2.5rem;
        border: none;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        color: var(--White);
        background-color: var(--Orange);
    }

    &_btn-2:hover{
        cursor: pointer;
        opacity: 0.7;
    }

    &_shop {
        margin-right: 0.8rem;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7485%) hue-rotate(80deg) brightness(103%) contrast(99%);
    }
}

