.left-side-2{
   position: absolute ;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
    z-index: 9;

    &_close {
        position: relative;
        z-index: 20;
        top: -10px;
        left: 570px;
        height: 1.2rem;
        filter: brightness(0) saturate(100%) invert(58%) sepia(68%) saturate(903%) hue-rotate(325deg) brightness(100%) contrast(104%);

        @media (min-height: 700px) {
            top: 0;
            left: 495px;
        }
    }

    &_close:hover {
        cursor: pointer;
    }
}

.top-2 {
    
    &_img-box {
        margin-bottom: 2rem;
    }

    &_img {
        width: 37rem;
        height: 34rem;
        border-radius: 25px;

        @media (min-height: 700px) {
            width: 32rem;
            height: 29rem;
        }
    }

    &_img:hover {
        cursor: pointer;
    }
}

.bottom-2 {
    display: flex;
    justify-content: center;
    gap: 2rem;
     

    &_box {
        flex: 0.2;
        background-color: #fff;
        border-radius: 12px;
        height: 6rem;

        @media (min-height: 700px) {
            height: 5rem;
        }
    }

    &_img {
        width: 100%;
        height: 6rem;
        border-radius: 12px;

        @media (min-height: 700px) {
            height: 5rem;
        }
     
    }

    &_img:hover {
        opacity: 0.6;
        cursor: pointer;
        background-color: #fff;
    }
}

.actual-2 {
    opacity: 0.5;
    border: 4px solid var(--Orange);
}