.left-side-2{
   position: absolute ;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
    z-index: 9;

    &_close {
        position: relative;
        z-index: 20;
        top: 0;
        left: 495px;
        height: 1.2rem;
        filter: brightness(0) saturate(100%) invert(58%) sepia(68%) saturate(903%) hue-rotate(325deg) brightness(100%) contrast(104%);

        display: none;

        @media (min-height: 900px) {
            top: 0;
            left: 525px;
        }
    }

    &_close:hover {
        cursor: pointer;
    }
}

.top-2 {
    
    &_img-box {
        margin-bottom: 2rem;
    }

    &_img {
        width: 32rem;
        height: 29rem;
        border-radius: 25px;

        @media (min-height: 900px) {
            width: 34rem;
            height: 31rem;
        }


        @media (max-width: 1070px) {
             width: clamp(25rem, 48vw, 45rem);
             height: clamp(22rem, 45vw, 42rem);
        }

        @media (max-width: 670px) {
            width: clamp(25rem, 90vw, 35rem);
            height: clamp(15rem, 70vw, 35rem);
       }

       @media (max-width: 670px) {
            width: 90vw;
            height: 70vw;
       }
    }

    &_img:hover {
        cursor: pointer;
    }
}

.bottom-2 {
    display: flex;
    justify-content: center;
    gap: 2rem;
     
    @media (min-height: 900px) {
        gap: clamp(0.8rem, 4.5vw, 2rem);
    }

    @media (min-height: 700px) {
        gap: clamp(0.8rem, 4.5vw, 2rem);
    }

    &_box {
        flex: 0.2;
        background-color: #fff;
        border-radius: 12px;
        height: 5rem;

        @media (max-width: 1070px) {
            height: clamp(4.4rem, 8vw, 5.5rem);
       }

       @media (min-height: 900px) {
        height: clamp(4.4rem, 8vw, 5.5rem);
       }

        @media (max-width: 670px) {
            display: flex;
            justify-content: center;
            height: clamp(5rem, 8vw, 5.5rem);
       } 

       @media (max-width: 480px) {
        height: clamp(3.5rem, 8vw, 5.5rem);
       }
    }

    &_img {
        width: 100%;
        height: 5rem;
        border-radius: 12px;

        @media (min-height: 900px) {
            height: 5.5rem;
        }

    
        @media (max-width: 1070px) {
            width:  100%;
            height: clamp(4.4rem, 8vw, 5.5rem);
       }

       @media (max-width: 670px) {
        height: clamp(5rem, 8vw, 5.5rem);
      } 


      @media (max-width: 480px) {
        height: clamp(3.5rem, 8vw, 5.5rem);
       }
    }

    &_img:hover {
        opacity: 0.6;
        cursor: pointer;
        background-color: #fff;
    }
}

.actual-2 {
    opacity: 0.5;
    border: 4px solid var(--Orange);
}