.left-side-2{
   position: absolute ;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
    z-index: 9;

    &_close {
        position: relative;
        z-index: 20;
        top: 60px;
        left: 570px;
        height: 1.2rem;
        filter: brightness(0) saturate(100%) invert(58%) sepia(68%) saturate(903%) hue-rotate(325deg) brightness(100%) contrast(104%);
    }

    &_close:hover {
        cursor: pointer;
    }
}

.top-2 {
    &_left-box,
    &_right-box  {
        position: relative;
        z-index: 15;
        height: 2.5rem;
        width: 2.5rem;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_left-box {
        top: 297px;
        left: -20px;
    }

    &_right-box {
        top: 253px;
        right: -575px;
    }


    &_left-box:hover,
    &_right-box:hover {
        cursor: pointer;
    }


    &_left,
    &_right {
        height: 0.85rem;
        position: relative;
        z-index: 16;
    }

    &_left {
        margin-right: 0.2rem;
    }

    &_right {
        margin-left: 0.2rem;
    }

    &_left:hover,
    &_right:hover  {
        filter: brightness(0) saturate(100%) invert(58%) sepia(68%) saturate(903%) hue-rotate(325deg) brightness(100%) contrast(104%);
        cursor: pointer;
    }

    
    &_img-box {
        margin-bottom: 2rem;
    }

    &_img {
        width: 37rem;
        height: 34rem;
        border-radius: 25px;

        @media (max-width: 1190px) {
            width: 35vw;
            height: 35vw;
        }

        @media (max-width: 1070px) {
             width: clamp(35rem, 60vw, 55rem);
             height: clamp(30rem, 50vw, 55rem);
        }
    
    }

    &_img:hover {
        cursor: pointer;
    }
}


.bottom-2 {
    display: flex;
    justify-content: center;
    gap: 2rem;
     

    &_box {
        flex: 0.2;
        background-color: #fff;
        border-radius: 12px;
        height: 6rem;
    }

    &_img {
        width: 100%;
        height: 6rem;
        border-radius: 12px;
    
        @media (max-width: 1190px) {
            width: 6.7vw;
            height: 100%;
        }

        @media (max-width: 1070px) {
            width: clamp(7.3rem, 12.7vw, 12rem);
            height: 100%;
       }
    }

    &_img:hover {
        opacity: 0.6;
        cursor: pointer;
        background-color: #fff;
    }
}

.actual-2 {
    opacity: 0.5;
    border: 4px solid var(--Orange);
}

